<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link href="../static/css/reserve.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet" />

    <title>エラー</title>
    <script>
        function handleerror() {
            window.close();
        }
    </script>
</head>
<body>
    <div class="aspect-box">
        <div class="hukidashi">
            <div class="overlay-image"></div>
            <div class="title">
                <h1>エラーだよ！</h1>
            </div>
        </div>
        <div class="button-container">
            <div class="yoyaku">
                <a href="#" onclick="handleerror()">了解</a>
            </div>
        </div>
    </div>
</body>
</html>
